{% extends "obj_repr.html" %}

{% set obj = group %}
{% set obj_type = "eogroup" %}

{% block icon %}
    {% if class_name == "coords" %}
        {% include "static/images/icons-svg-coords.svg" %}
    {% elif class_name == "measure" %}
        {% include "static/images/icons-svg-measurement.svg" %}
    {% elif class_name == "info" %}
        {% include "static/images/icons-svg-info.svg" %}
    {% elif class_name == "quality" %}
        {% include "static/images/icons-svg-quality.svg" %}
    {% elif class_name == "attrs" %}
        {% include "static/images/icons-svg-attributes.svg" %}
    {%else%}
        {% include "static/images/icons-svg-group.svg" %}
    {%endif%}
{% endblock %}

{% block sections %}
    <li class="eopf-section-item">
        <input type="checkbox" class="eopf-section-summary-in" id="{{ obj|string }}_attrs" hidden>
        <label for="{{ obj|string }}_attrs" class="eopf-section-summary eopf-header" >
            {% include "static/images/icons-svg-attributes.svg" %}
            Attributes
        </label>
        <div class='eopf-section-details'>
            <dl class='eopf-attrs'>
                {% with attributes=obj.attrs %}
                    {% for name, value in attributes.items() %}
                        <dt><span>{{name}} :</span></dt><dd>{{value}}</dd>
                    {% endfor %}
                {% endwith %}
            </dl>
        </div>
    </li>

    {% for _, group in group.groups %}
        <li class="eopf-section-item">
        {% with group=group, class_name="" %}
            {% include "group.html" %}
        {% endwith %}
        </li>
    {% endfor %}

    {% for _, variable in group.variables %}
        <li class="eopf-section-item">
        {% with variable=variable %}
            {% include "variable.html" %}
        {% endwith %}
        </li>
    {% endfor %}
{% endblock %}
