{% extends "obj_repr.html" %}

{% set obj = product %}
{% set obj_type = "eoproduct" %}

{% block icon %}
    {% if class_name == "coords" %}
        {% include "static/images/icons-svg-coords.svg" %}
    {% elif class_name == "measurements" %}
        {% include "static/images/icons-svg-measurement.svg" %}
    {% elif class_name == "info" %}
        {% include "static/images/icons-svg-info.svg" %}
    {% elif class_name == "quality" %}
        {% include "static/images/icons-svg-quality.svg" %}
    {% elif class_name == "attrs" %}
        {% include "static/images/icons-svg-attributes.svg" %}
    {%else%}
        {% include "static/images/icons-svg-root.svg" %}
    {%endif%}

{% endblock %}

{% block sections %}
    <li class="eopf-section-item">
        {% if product.attributes %}
            <li class="eopf-section-item">
                <input type="checkbox" class="eopf-section-summary-in" id="{{ obj|string }}_{{ unique_id }}_attrs" hidden>
                <label for="{{ obj|string }}_{{ unique_id }}_attrs" class="eopf-section-summary eopf-header" >
                    {% include "static/images/icons-svg-attributes.svg" %}
                    Attributes
                </label>
                <div class='eopf-section-details'>
                    <dl class='eopf-attrs'>
                        <dd>{{attributes}}</dd>
                    </dl>
                </div>
            </li>
        {% endif %}
        {% if "coordinates" in product %}
            {% with group=product.coordinates, class_name="coords"  %}
                {% include "group.html" %}
            {% endwith %}
        {%endif%}
    </li>

    {% for group in product.values() %}
        {% if group.name != "coordinates" %}
            <li class="eopf-section-item">
                {% with group=group, class_name=group.name %}
                    {% include "group.html" %}
                {% endwith %}
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}
