{% extends "obj_repr.html" %}

{% set obj = variable %}
{% set obj_type = "eovariable" %}

{% block icon %}
{% include "static/images/icons-svg-data.svg" %}
{% endblock %}

{% block sections %}
    <li class="eopf-section-item">
        <input type="checkbox" class="eopf-section-summary-in" id="{{ obj|string }}_{{ unique_id }}_attrs" hidden>
        <label for="{{ obj|string }}_{{ unique_id }}_attrs" class="eopf-section-summary eopf-header" >
            {% include "static/images/icons-svg-attributes.svg" %}
            Attributes
        </label>
        <div class='eopf-section-details'>
            <dl class='eopf-attrs'>
                <dd>{{obj.attrs|human_readable_attrs}}</dd>
            </dl>
        </div>
    </li>
    <li class="eopf-section-item">
        <input type="checkbox" class="eopf-section-summary-in" id="{{ obj|string }}_{{ unique_id }}_dims" hidden>
        <label for="{{ obj|string }}_{{ unique_id }}_dims" class="eopf-section-summary eopf-header" >
            {% include "static/images/icons-svg-dims.svg" %}
            Dimensions
        </label>
        <div class='eopf-section-details'>
            <div class='eopf-section-inline-details'>{{obj.dims}}</div>
        </div>
    </li>
    <li class="eopf-section-item">
        <input type="checkbox" class="eopf-section-summary-in" id="{{ obj|string }}_{{ unique_id }}_coords" hidden>
        <label for="{{ obj|string }}_{{ unique_id }}_coords" class="eopf-section-summary eopf-header" >
            {% include "static/images/icons-svg-coords.svg" %}
            Coordinates
        </label>
        {% if obj.coordinates %}
            <div class='eopf-section-details'>
                <dl class='eopf-attrs'>
                    {% with coordinates=obj.coordinates %}
                        {% for name, value in coordinates.items() %}
                            <dt>
                                <span>{{name}}</span>
                            </dt>
                            <dd hidden>{{value.path}}</dd>
                        {% endfor %}
                    {% endwith %}
                </dl>
            </div>
        {% endif %}
    </li>
{% endblock %}
